extends layout
block content
  div(class="container-fluid")
    h1= title
    - let forms = results
    div(class="row")
      each value,index in forms
        div(class = "col-sm-2 bg-danger" onclick=`buy(${index})`) #{value.car_name}
        div(class = "col-sm-2 bg-danger" onclick=`buy(${index})`) #{value.car_model}
        div(class = "col-sm-2 bg-danger" onclick=`buy(${index})`) #{value.car_price}
        hr
    script.     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }